img#banner{
  max-width: 100%;
  height: auto;

  
}
img#abu{
  max-width: 100%;
  height: auto;
  margin: auto;
  padding: 10px;
  border-radius: 30px;
}
h2#us{
  font-weight: 900;
  text-align: center;
  text-decoration:underline ;
  font-size:xx-large;
  margin-top: 30px;
  color:white;

}

div#us{
  
  color: white;
}

footer{
  background-color: rgb(18, 18, 19);
  
  
  
  
  
}



img#logonav{
  width: 40px;
  height: 40px;
}
li#navitem{
  color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 
 a {
  text-decoration: none;
 }
 li {
  list-style: none;
 }
 .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #1e3281;
  color: #fff;
  
 }
 .nav-links a {
  color: #fff;
 }
 /* LOGO */
 .logo {
  font-size: 32px;
  height: 40px;
  width: 40px;
  
  margin-bottom: 15px;

 }
 /* NAVBAR MENU */
 .menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
 }
 .menu li:hover {
  background-color: #121414;
  border-radius: 5px;
  transition: 0.3s ease;
 }
 .menu li {
  padding: 5px 14px;
  margin-top: 10px;
 }
 
 
 input[type=checkbox]{
  display: none;
 } 

 .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
 }
 /* APPLYING MEDIA QUERIES */
 @media (max-width: 768px) {
 .menu { 
  display:none;
  position: absolute;
  background-color:rgb(34, 30, 30);
  right: 0;
  left: 0;
  text-align: center;
  padding: 16px 0;
  margin-top: 15px;
 }
 .menu li:hover {
  display: inline-block;
  background-color:#000000;
  transition: 0.3s ease;
 }
 .menu li + li {
  margin-top: 12px;
 }
 input[type=checkbox]:checked ~ .menu{
  display: block;
 }
 .hamburger {
  display: block;
 }
 
 }
 nav#navlogo{
   margin-top: 10px;
   height: 40px;
   width: 40px;
 }

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}







