div#eventinfo {
    display: grid;
    padding: 2rem;
    grid-template-columns: 300px 1fr;
    gap: 1rem;
    align-items: center;
    max-width: 1100PX;
    margin: 0 auto;
    font: 500 100%/1.5 system-ui;
    background-color:#7BB3F6;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  @media (max-width: 650px) {
    div#eventinfo {
      display: block;
      font-size: 80%;
    }
    p {
      position: relative;
      margin: -3rem 0 2rem 1rem;
      padding: 1rem;
      background: rgba(white, 0.8);
    }
  }
  body{
    background-color:#7BB3F6 ;
  }
  
    
  
 img#sci{
   float: left;
 }
table#tablef{
  
  font-size:larger;
}
  